<%- include('./components/header') %>

<%- include('./components/nav') %>

<% if (result.length> 0 ) {%>
  <% result.forEach(element=> { %>
      <div class="card mt-4">
          <div class="card-body">
              <h5 class="card-title"><%= element.name %></h5>
              <p class="card-text mb-2"><%= element.message %></p>
              <a href=/feed/<%= element._id%> id="more" class="btn btn-secondary">See More</a>
              
           </div>
           
      </div>
  <% }); %>
      <% } else { %>
          there is no feeds adding yet....
<% } %>
<%- include('./components/footer') %>